.sprite-flag { background-position : 0 -2410px; width : 15px; height : 10px ; background-image : url(../img/flags/sprite.png) ;  display : inline-block; margin: 0 4px 0 0; }
.flag-AFG { background-position : 0 -0px }
.flag-AGO { background-position : 0 -10px }
.flag-AIA { background-position : 0 -20px }
.flag-ALB { background-position : 0 -30px }
.flag-ALG { background-position : 0 -40px }
.flag-AND { background-position : 0 -50px }
.flag-ANT { background-position : 0 -60px }
.flag-ARE { background-position : 0 -70px }
.flag-ARG { background-position : 0 -80px }
.flag-ARM { background-position : 0 -90px }
.flag-ASA { background-position : 0 -100px }
.flag-ATA { background-position : 0 -110px }
.flag-ATF { background-position : 0 -120px }
.flag-AUS { background-position : 0 -130px }
.flag-AUT { background-position : 0 -140px }
.flag-AZE { background-position : 0 -150px }
.flag-BAH { background-position : 0 -160px }
.flag-BAR { background-position : 0 -170px }
.flag-BDI { background-position : 0 -180px }
.flag-BEL { background-position : 0 -190px }
.flag-BEN { background-position : 0 -200px }
.flag-BER { background-position : 0 -210px }
.flag-BFA { background-position : 0 -220px }
.flag-BGD { background-position : 0 -230px }
.flag-BIH { background-position : 0 -240px }
.flag-BLR { background-position : 0 -250px }
.flag-BLZ { background-position : 0 -260px }
.flag-BOL { background-position : 0 -270px }
.flag-BRA { background-position : 0 -280px }
.flag-BRN { background-position : 0 -290px }
.flag-BTN { background-position : 0 -300px }
.flag-BUL { background-position : 0 -310px }
.flag-BVT { background-position : 0 -320px }
.flag-BWA { background-position : 0 -330px }
.flag-CAF { background-position : 0 -340px }
.flag-CAN { background-position : 0 -350px }
.flag-CAY { background-position : 0 -360px }
.flag-CCK { background-position : 0 -370px }
.flag-CHI { background-position : 0 -380px }
.flag-CHN { background-position : 0 -390px }
.flag-CIV { background-position : 0 -400px }
.flag-CMR { background-position : 0 -410px }
.flag-COD { background-position : 0 -420px }
.flag-COG { background-position : 0 -430px }
.flag-COK { background-position : 0 -440px }
.flag-COL { background-position : 0 -450px }
.flag-COM { background-position : 0 -460px }
.flag-CPV { background-position : 0 -470px }
.flag-CRC { background-position : 0 -480px }
.flag-CRO { background-position : 0 -490px }
.flag-CUB { background-position : 0 -500px }
.flag-CXR { background-position : 0 -510px }
.flag-CYP { background-position : 0 -520px }
.flag-CZE { background-position : 0 -530px }
.flag-DEN { background-position : 0 -540px }
.flag-DJI { background-position : 0 -550px }
.flag-DMA { background-position : 0 -560px }
.flag-DOM { background-position : 0 -570px }
.flag-ECU { background-position : 0 -580px }
.flag-EGY { background-position : 0 -590px }
.flag-ERI { background-position : 0 -600px }
.flag-ESA { background-position : 0 -610px }
.flag-ESH { background-position : 0 -620px }
.flag-ESP { background-position : 0 -630px }
.flag-EST { background-position : 0 -640px }
.flag-ETH { background-position : 0 -650px }
.flag-FIJ { background-position : 0 -660px }
.flag-FIN { background-position : 0 -670px }
.flag-FIS { background-position : 0 -680px }
.flag-FLK { background-position : 0 -690px }
.flag-FRA { background-position : 0 -700px }
.flag-FRO { background-position : 0 -710px }
.flag-FSM { background-position : 0 -720px }
.flag-GAB { background-position : 0 -730px }
.flag-GBR { background-position : 0 -740px }
.flag-GEO { background-position : 0 -750px }
.flag-GER { background-position : 0 -760px }
.flag-GHA { background-position : 0 -770px }
.flag-GIB { background-position : 0 -780px }
.flag-GIN { background-position : 0 -790px }
.flag-GLP { background-position : 0 -800px }
.flag-GMB { background-position : 0 -810px }
.flag-GNB { background-position : 0 -820px }
.flag-GNQ { background-position : 0 -830px }
.flag-GRE { background-position : 0 -840px }
.flag-GRL { background-position : 0 -850px }
.flag-GRN { background-position : 0 -860px }
.flag-GUA { background-position : 0 -870px }
.flag-GUF { background-position : 0 -880px }
.flag-GUM { background-position : 0 -890px }
.flag-GUY { background-position : 0 -900px }
.flag-HAI { background-position : 0 -910px }
.flag-HKG { background-position : 0 -920px }
.flag-HMD { background-position : 0 -930px }
.flag-HON { background-position : 0 -940px }
.flag-HUN { background-position : 0 -950px }
.flag-IDN { background-position : 0 -960px }
.flag-IND { background-position : 0 -970px }
.flag-IOP { background-position : 0 -980px }
.flag-IOT { background-position : 0 -990px }
.flag-IRI { background-position : 0 -1000px }
.flag-IRL { background-position : 0 -1010px }
.flag-IRQ { background-position : 0 -1020px }
.flag-ISL { background-position : 0 -1030px }
.flag-ISR { background-position : 0 -1040px }
.flag-ISV { background-position : 0 -1050px }
.flag-ITA { background-position : 0 -1060px }
.flag-IVB { background-position : 0 -1070px }
.flag-JAM { background-position : 0 -1080px }
.flag-JOR { background-position : 0 -1090px }
.flag-JPN { background-position : 0 -1100px }
.flag-KAZ { background-position : 0 -1110px }
.flag-KEN { background-position : 0 -1120px }
.flag-KGZ { background-position : 0 -1130px }
.flag-KHM { background-position : 0 -1140px }
.flag-KIR { background-position : 0 -1150px }
.flag-KNA { background-position : 0 -1160px }
.flag-KOR { background-position : 0 -1170px }
.flag-KOS { background-position : 0 -1180px }
.flag-KUW { background-position : 0 -1190px }
.flag-LAO { background-position : 0 -1200px }
.flag-LAT { background-position : 0 -1210px }
.flag-LBR { background-position : 0 -1220px }
.flag-LBY { background-position : 0 -1230px }
.flag-LCA { background-position : 0 -1240px }
.flag-LES { background-position : 0 -1250px }
.flag-LBN { background-position : 0 -1260px }
.flag-LIE { background-position : 0 -1270px }
.flag-LKA { background-position : 0 -1280px }
.flag-LTU { background-position : 0 -1290px }
.flag-LUX { background-position : 0 -1300px }
.flag-MAC { background-position : 0 -1310px }
.flag-MAD { background-position : 0 -1320px }
.flag-MAR { background-position : 0 -1330px }
.flag-MAS { background-position : 0 -1340px }
.flag-MDA { background-position : 0 -1350px }
.flag-MDV { background-position : 0 -1360px }
.flag-MEX { background-position : 0 -1370px }
.flag-MGL { background-position : 0 -1380px }
.flag-MHL { background-position : 0 -1390px }
.flag-MKD { background-position : 0 -1400px }
.flag-MLI { background-position : 0 -1410px }
.flag-MLT { background-position : 0 -1420px }
.flag-MMR { background-position : 0 -1430px }
.flag-MNE { background-position : 0 -1440px }
.flag-MNP { background-position : 0 -1450px }
.flag-MON { background-position : 0 -1460px }
.flag-MOZ { background-position : 0 -1470px }
.flag-MRT { background-position : 0 -1480px }
.flag-MSR { background-position : 0 -1490px }
.flag-MTQ { background-position : 0 -1500px }
.flag-MUS { background-position : 0 -1510px }
.flag-MWI { background-position : 0 -1520px }
.flag-MYT { background-position : 0 -1530px }
.flag-NAM { background-position : 0 -1540px }
.flag-NCL { background-position : 0 -1550px }
.flag-NED { background-position : 0 -1560px }
.flag-NEP { background-position : 0 -1570px }
.flag-NER { background-position : 0 -1580px }
.flag-NFK { background-position : 0 -1590px }
.flag-NGA { background-position : 0 -1600px }
.flag-NIC { background-position : 0 -1610px }
.flag-NIU { background-position : 0 -1620px }
.flag-NOR { background-position : 0 -1630px }
.flag-NRU { background-position : 0 -1640px }
.flag-NZL { background-position : 0 -1650px }
.flag-OMN { background-position : 0 -1660px }
.flag-PAK { background-position : 0 -1670px }
.flag-PAN { background-position : 0 -1680px }
.flag-PAR { background-position : 0 -1690px }
.flag-PCN { background-position : 0 -1700px }
.flag-PER { background-position : 0 -1710px }
.flag-PHI { background-position : 0 -1720px }
.flag-PLE { background-position : 0 -1730px }
.flag-PLW { background-position : 0 -1740px }
.flag-PNG { background-position : 0 -1750px }
.flag-POL { background-position : 0 -1760px }
.flag-POR { background-position : 0 -1770px }
.flag-PRK { background-position : 0 -1780px }
.flag-PUR { background-position : 0 -1790px }
.flag-PYF { background-position : 0 -1800px }
.flag-QAT { background-position : 0 -1810px }
.flag-REU { background-position : 0 -1820px }
.flag-ROU { background-position : 0 -1830px }
.flag-RSA { background-position : 0 -1840px }
.flag-RUS { background-position : 0 -1850px }
.flag-RWA { background-position : 0 -1860px }
.flag-SAU { background-position : 0 -1870px }
.flag-SCG { background-position : 0 -1880px }
.flag-SEN { background-position : 0 -1890px }
.flag-SGS { background-position : 0 -1900px }
.flag-SHN { background-position : 0 -1910px }
.flag-SIN { background-position : 0 -1920px }
.flag-SJM { background-position : 0 -1930px }
.flag-SLB { background-position : 0 -1940px }
.flag-SLE { background-position : 0 -1950px }
.flag-SLO { background-position : 0 -1960px }
.flag-SMR { background-position : 0 -1970px }
.flag-SOM { background-position : 0 -1980px }
.flag-SPM { background-position : 0 -1990px }
.flag-SRB { background-position : 0 -2000px }
.flag-SRI { background-position : 0 -2010px }
.flag-STP { background-position : 0 -2020px }
.flag-SUD { background-position : 0 -2030px }
.flag-SUI { background-position : 0 -2040px }
.flag-SUR { background-position : 0 -2050px }
.flag-SVK { background-position : 0 -2060px }
.flag-SWE { background-position : 0 -2070px }
.flag-SWZ { background-position : 0 -2080px }
.flag-SYC { background-position : 0 -2090px }
.flag-SYR { background-position : 0 -2100px }
.flag-TCA { background-position : 0 -2110px }
.flag-TCD { background-position : 0 -2120px }
.flag-TGA { background-position : 0 -2130px }
.flag-THA { background-position : 0 -2140px }
.flag-TJK { background-position : 0 -2150px }
.flag-TKL { background-position : 0 -2160px }
.flag-TKM { background-position : 0 -2170px }
.flag-TLS { background-position : 0 -2180px }
.flag-TOG { background-position : 0 -2190px }
.flag-TPE { background-position : 0 -2200px }
.flag-TRI { background-position : 0 -2210px }
.flag-TTO { background-position : 0 -2220px }
.flag-TUN { background-position : 0 -2230px }
.flag-TUR { background-position : 0 -2240px }
.flag-TUV { background-position : 0 -2250px }
.flag-TZA { background-position : 0 -2260px }
.flag-UGA { background-position : 0 -2270px }
.flag-UKR { background-position : 0 -2280px }
.flag-URU { background-position : 0 -2290px }
.flag-USA { background-position : 0 -2300px }
.flag-UZB { background-position : 0 -2310px }
.flag-VAT { background-position : 0 -2320px }
.flag-VCT { background-position : 0 -2330px }
.flag-VEN { background-position : 0 -2340px }
.flag-VNM { background-position : 0 -2350px }
.flag-VUT { background-position : 0 -2360px }
.flag-WLF { background-position : 0 -2370px }
.flag-YEM { background-position : 0 -2380px }
.flag-ZIM { background-position : 0 -2390px }
.flag-ZMB { background-position : 0 -2400px }
.flag-ZZZ { background-position : 0 -2410px }