.sprite-big-flag { background-position : 0 -4820px; width : 30px; height : 20px ; background-image : url(../img/flags/sprite_big.png) ;  margin: 5px auto; }
.big-flag-AFG { background-position : 0 -0px }
.big-flag-AGO { background-position : 0 -20px }
.big-flag-AIA { background-position : 0 -40px }
.big-flag-ALB { background-position : 0 -60px }
.big-flag-ALG { background-position : 0 -80px }
.big-flag-AND { background-position : 0 -100px }
.big-flag-ANT { background-position : 0 -120px }
.big-flag-ARE { background-position : 0 -140px }
.big-flag-ARG { background-position : 0 -160px }
.big-flag-ARM { background-position : 0 -180px }
.big-flag-ASA { background-position : 0 -200px }
.big-flag-ATA { background-position : 0 -220px }
.big-flag-ATF { background-position : 0 -240px }
.big-flag-AUS { background-position : 0 -260px }
.big-flag-AUT { background-position : 0 -280px }
.big-flag-AZE { background-position : 0 -300px }
.big-flag-BAH { background-position : 0 -320px }
.big-flag-BAR { background-position : 0 -340px }
.big-flag-BDI { background-position : 0 -360px }
.big-flag-BEL { background-position : 0 -380px }
.big-flag-BEN { background-position : 0 -400px }
.big-flag-BER { background-position : 0 -420px }
.big-flag-BFA { background-position : 0 -440px }
.big-flag-BGD { background-position : 0 -460px }
.big-flag-BIH { background-position : 0 -480px }
.big-flag-BLR { background-position : 0 -500px }
.big-flag-BLZ { background-position : 0 -520px }
.big-flag-BOL { background-position : 0 -540px }
.big-flag-BRA { background-position : 0 -560px }
.big-flag-BRN { background-position : 0 -580px }
.big-flag-BTN { background-position : 0 -600px }
.big-flag-BUL { background-position : 0 -620px }
.big-flag-BVT { background-position : 0 -640px }
.big-flag-BWA { background-position : 0 -660px }
.big-flag-CAF { background-position : 0 -680px }
.big-flag-CAN { background-position : 0 -700px }
.big-flag-CAY { background-position : 0 -720px }
.big-flag-CCK { background-position : 0 -740px }
.big-flag-CHI { background-position : 0 -760px }
.big-flag-CHN { background-position : 0 -780px }
.big-flag-CIV { background-position : 0 -800px }
.big-flag-CMR { background-position : 0 -820px }
.big-flag-COD { background-position : 0 -840px }
.big-flag-COG { background-position : 0 -860px }
.big-flag-COK { background-position : 0 -880px }
.big-flag-COL { background-position : 0 -900px }
.big-flag-COM { background-position : 0 -920px }
.big-flag-CPV { background-position : 0 -940px }
.big-flag-CRC { background-position : 0 -960px }
.big-flag-CRO { background-position : 0 -980px }
.big-flag-CUB { background-position : 0 -1000px }
.big-flag-CXR { background-position : 0 -1020px }
.big-flag-CYP { background-position : 0 -1040px }
.big-flag-CZE { background-position : 0 -1060px }
.big-flag-DEN { background-position : 0 -1080px }
.big-flag-DJI { background-position : 0 -1100px }
.big-flag-DMA { background-position : 0 -1120px }
.big-flag-DOM { background-position : 0 -1140px }
.big-flag-ECU { background-position : 0 -1160px }
.big-flag-EGY { background-position : 0 -1180px }
.big-flag-ERI { background-position : 0 -1200px }
.big-flag-ESA { background-position : 0 -1220px }
.big-flag-ESH { background-position : 0 -1240px }
.big-flag-ESP { background-position : 0 -1260px }
.big-flag-EST { background-position : 0 -1280px }
.big-flag-ETH { background-position : 0 -1300px }
.big-flag-FIJ { background-position : 0 -1320px }
.big-flag-FIN { background-position : 0 -1340px }
.big-flag-FIS { background-position : 0 -1360px }
.big-flag-FLK { background-position : 0 -1380px }
.big-flag-FRA { background-position : 0 -1400px }
.big-flag-FRO { background-position : 0 -1420px }
.big-flag-FSM { background-position : 0 -1440px }
.big-flag-GAB { background-position : 0 -1460px }
.big-flag-GBR { background-position : 0 -1480px }
.big-flag-GEO { background-position : 0 -1500px }
.big-flag-GER { background-position : 0 -1520px }
.big-flag-GHA { background-position : 0 -1540px }
.big-flag-GIB { background-position : 0 -1560px }
.big-flag-GIN { background-position : 0 -1580px }
.big-flag-GLP { background-position : 0 -1600px }
.big-flag-GMB { background-position : 0 -1620px }
.big-flag-GNB { background-position : 0 -1640px }
.big-flag-GNQ { background-position : 0 -1660px }
.big-flag-GRE { background-position : 0 -1680px }
.big-flag-GRL { background-position : 0 -1700px }
.big-flag-GRN { background-position : 0 -1720px }
.big-flag-GUA { background-position : 0 -1740px }
.big-flag-GUF { background-position : 0 -1760px }
.big-flag-GUM { background-position : 0 -1780px }
.big-flag-GUY { background-position : 0 -1800px }
.big-flag-HAI { background-position : 0 -1820px }
.big-flag-HKG { background-position : 0 -1840px }
.big-flag-HMD { background-position : 0 -1860px }
.big-flag-HON { background-position : 0 -1880px }
.big-flag-HUN { background-position : 0 -1900px }
.big-flag-IDN { background-position : 0 -1920px }
.big-flag-IND { background-position : 0 -1940px }
.big-flag-IOP { background-position : 0 -1960px }
.big-flag-IOT { background-position : 0 -1980px }
.big-flag-IRI { background-position : 0 -2000px }
.big-flag-IRL { background-position : 0 -2020px }
.big-flag-IRQ { background-position : 0 -2040px }
.big-flag-ISL { background-position : 0 -2060px }
.big-flag-ISR { background-position : 0 -2080px }
.big-flag-ISV { background-position : 0 -2100px }
.big-flag-ITA { background-position : 0 -2120px }
.big-flag-IVB { background-position : 0 -2140px }
.big-flag-JAM { background-position : 0 -2160px }
.big-flag-JOR { background-position : 0 -2180px }
.big-flag-JPN { background-position : 0 -2200px }
.big-flag-KAZ { background-position : 0 -2220px }
.big-flag-KEN { background-position : 0 -2240px }
.big-flag-KGZ { background-position : 0 -2260px }
.big-flag-KHM { background-position : 0 -2280px }
.big-flag-KIR { background-position : 0 -2300px }
.big-flag-KNA { background-position : 0 -2320px }
.big-flag-KOR { background-position : 0 -2340px }
.big-flag-KOS { background-position : 0 -2360px }
.big-flag-KUW { background-position : 0 -2380px }
.big-flag-LAO { background-position : 0 -2400px }
.big-flag-LAT { background-position : 0 -2420px }
.big-flag-LBR { background-position : 0 -2440px }
.big-flag-LBY { background-position : 0 -2460px }
.big-flag-LCA { background-position : 0 -2480px }
.big-flag-LES { background-position : 0 -2500px }
.big-flag-LBN { background-position : 0 -2520px }
.big-flag-LIE { background-position : 0 -2540px }
.big-flag-LKA { background-position : 0 -2560px }
.big-flag-LTU { background-position : 0 -2580px }
.big-flag-LUX { background-position : 0 -2600px }
.big-flag-MAC { background-position : 0 -2620px }
.big-flag-MAD { background-position : 0 -2640px }
.big-flag-MAR { background-position : 0 -2660px }
.big-flag-MAS { background-position : 0 -2680px }
.big-flag-MDA { background-position : 0 -2700px }
.big-flag-MDV { background-position : 0 -2720px }
.big-flag-MEX { background-position : 0 -2740px }
.big-flag-MGL { background-position : 0 -2760px }
.big-flag-MHL { background-position : 0 -2780px }
.big-flag-MKD { background-position : 0 -2800px }
.big-flag-MLI { background-position : 0 -2820px }
.big-flag-MLT { background-position : 0 -2840px }
.big-flag-MMR { background-position : 0 -2860px }
.big-flag-MNE { background-position : 0 -2880px }
.big-flag-MNP { background-position : 0 -2900px }
.big-flag-MON { background-position : 0 -2920px }
.big-flag-MOZ { background-position : 0 -2940px }
.big-flag-MRT { background-position : 0 -2960px }
.big-flag-MSR { background-position : 0 -2980px }
.big-flag-MTQ { background-position : 0 -3000px }
.big-flag-MUS { background-position : 0 -3020px }
.big-flag-MWI { background-position : 0 -3040px }
.big-flag-MYT { background-position : 0 -3060px }
.big-flag-NAM { background-position : 0 -3080px }
.big-flag-NCL { background-position : 0 -3100px }
.big-flag-NED { background-position : 0 -3120px }
.big-flag-NEP { background-position : 0 -3140px }
.big-flag-NER { background-position : 0 -3160px }
.big-flag-NFK { background-position : 0 -3180px }
.big-flag-NGA { background-position : 0 -3200px }
.big-flag-NIC { background-position : 0 -3220px }
.big-flag-NIU { background-position : 0 -3240px }
.big-flag-NOR { background-position : 0 -3260px }
.big-flag-NRU { background-position : 0 -3280px }
.big-flag-NZL { background-position : 0 -3300px }
.big-flag-OMN { background-position : 0 -3320px }
.big-flag-PAK { background-position : 0 -3340px }
.big-flag-PAN { background-position : 0 -3360px }
.big-flag-PAR { background-position : 0 -3380px }
.big-flag-PCN { background-position : 0 -3400px }
.big-flag-PER { background-position : 0 -3420px }
.big-flag-PHI { background-position : 0 -3440px }
.big-flag-PLE { background-position : 0 -3460px }
.big-flag-PLW { background-position : 0 -3480px }
.big-flag-PNG { background-position : 0 -3500px }
.big-flag-POL { background-position : 0 -3520px }
.big-flag-POR { background-position : 0 -3540px }
.big-flag-PRK { background-position : 0 -3560px }
.big-flag-PUR { background-position : 0 -3580px }
.big-flag-PYF { background-position : 0 -3600px }
.big-flag-QAT { background-position : 0 -3620px }
.big-flag-REU { background-position : 0 -3640px }
.big-flag-ROU { background-position : 0 -3660px }
.big-flag-RSA { background-position : 0 -3680px }
.big-flag-RUS { background-position : 0 -3700px }
.big-flag-RWA { background-position : 0 -3720px }
.big-flag-SAU { background-position : 0 -3740px }
.big-flag-SCG { background-position : 0 -3760px }
.big-flag-SEN { background-position : 0 -3780px }
.big-flag-SGS { background-position : 0 -3800px }
.big-flag-SHN { background-position : 0 -3820px }
.big-flag-SIN { background-position : 0 -3840px }
.big-flag-SJM { background-position : 0 -3860px }
.big-flag-SLB { background-position : 0 -3880px }
.big-flag-SLE { background-position : 0 -3900px }
.big-flag-SLO { background-position : 0 -3920px }
.big-flag-SMR { background-position : 0 -3940px }
.big-flag-SOM { background-position : 0 -3960px }
.big-flag-SPM { background-position : 0 -3980px }
.big-flag-SRB { background-position : 0 -4000px }
.big-flag-SRI { background-position : 0 -4020px }
.big-flag-STP { background-position : 0 -4040px }
.big-flag-SUD { background-position : 0 -4060px }
.big-flag-SUI { background-position : 0 -4080px }
.big-flag-SUR { background-position : 0 -4100px }
.big-flag-SVK { background-position : 0 -4120px }
.big-flag-SWE { background-position : 0 -4140px }
.big-flag-SWZ { background-position : 0 -4160px }
.big-flag-SYC { background-position : 0 -4180px }
.big-flag-SYR { background-position : 0 -4200px }
.big-flag-TCA { background-position : 0 -4220px }
.big-flag-TCD { background-position : 0 -4240px }
.big-flag-TGA { background-position : 0 -4260px }
.big-flag-THA { background-position : 0 -4280px }
.big-flag-TJK { background-position : 0 -4300px }
.big-flag-TKL { background-position : 0 -4320px }
.big-flag-TKM { background-position : 0 -4340px }
.big-flag-TLS { background-position : 0 -4360px }
.big-flag-TOG { background-position : 0 -4380px }
.big-flag-TPE { background-position : 0 -4400px }
.big-flag-TRI { background-position : 0 -4420px }
.big-flag-TTO { background-position : 0 -4440px }
.big-flag-TUN { background-position : 0 -4460px }
.big-flag-TUR { background-position : 0 -4480px }
.big-flag-TUV { background-position : 0 -4500px }
.big-flag-TZA { background-position : 0 -4520px }
.big-flag-UGA { background-position : 0 -4540px }
.big-flag-UKR { background-position : 0 -4560px }
.big-flag-URU { background-position : 0 -4580px }
.big-flag-USA { background-position : 0 -4600px }
.big-flag-UZB { background-position : 0 -4620px }
.big-flag-VAT { background-position : 0 -4640px }
.big-flag-VCT { background-position : 0 -4660px }
.big-flag-VEN { background-position : 0 -4680px }
.big-flag-VNM { background-position : 0 -4700px }
.big-flag-VUT { background-position : 0 -4720px }
.big-flag-WLF { background-position : 0 -4740px }
.big-flag-YEM { background-position : 0 -4760px }
.big-flag-ZIM { background-position : 0 -4780px }
.big-flag-ZMB { background-position : 0 -4800px }
.big-flag-ZZZ { background-position : 0 -4820px }